/* https://flatuicolors.com/palette/cn */
:root {
  --color-text: #333333;
  
  --color-red: #ff4757;
  --color-pink: #ff6b81;

  --color-gray: #747d8c;
  --color-dark-blue: #2f3542;

  --color-green: #2ed573;
  --color-lime: #7bed9f;

  --color-white: #ffffff;
  --color-light-gray: #f1f2f6;
  --color-cold-white: #dfe4ea;

  --color-background: var(--color-white);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
