@import './base.css';

#app {

  margin: 0 auto;
  font-weight: normal;

  display: flex;
  align-items: center;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: var(--color-dark-blue);
  transition: 0.4s;
  padding: 3px;
}